<br>
<table style = 'border:none'>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>Verified Breaklines Contain Elevation Values</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepFortySeven'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Breaklines Geometry Type</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyEight'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Noted Possible Breakline Errors (Visual Review)</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyNine'></td></tr>
</table>