<br>
<table style = 'border:none'>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>Reviewed VA Requirements</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepFiftyFive'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Reported VA Values</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFiftySix'></td></tr>
</table>