<br>
<table style = 'border:none'>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>XMLs Ran Through Parser</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepSeven'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Lidar Info</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepEight'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Vertical Accuracy Info</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepNine'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Spatial Reference Info</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepTen'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Collection Date Info</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepEleven'></td></tr>
</table>