<br>
<table style = 'border:none'>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>Reviewed TO/SOW</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepOne'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Contractor Reports</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepTwo'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Obtained Collection Dates from reports</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepThree'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Added all deliverables with quantities</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFour'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed CRS and Projection Information</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFive'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed AOI Extent (Sq Miles)</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepSix'></td></tr>
</table>