<br>
<table style = 'border:none'>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>Reviewed VA Requirements</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepFifty'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Reported VA Values</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFiftyOne'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Performed VA on DEM</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFiftyTwo'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>Performed VA on LPC</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepFiftyThree'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Noted Possible VA Errors</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFiftyFour'></td></tr>	
</table>