<br>
<table style = 'border:none'>
	<tr><td style = 'border:none;padding-bottom:15px;padding-top:15px'>Reviewed Raster Types</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px;padding-top:15px'><input type="checkbox" id = 'stepForty'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Cell Size</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyOne'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Pixel Depth</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyTwo'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Tiles Conform to Tiling Scheme</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyThree'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Spatial Reference Information</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyFour'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Reviewed Min/Max Elevations</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortyFive'></td></tr>
	<tr><td style = 'border:none;padding-bottom:15px'>Noted Possible DEM Errors (Visual Review)</td><td style = 'border:none;float:right;padding-left:50px;padding-bottom:15px'><input type="checkbox" id = 'stepFortySix'></td></tr>
</table>